/* CSS variables */

:root {
  --color-primary-1: #5e42d7;
  --color-primary-2: #7d73fc;
  --color-primary-3: #9490ff;
  --color-primary-4: #edecff;
  --color-neutral-2: #2a2b33;
  --color-neutral-6: #a2a3ae;
  --color-neutral-7: #c8c8d4;
  --color-neutral-10: #f5f5ff;
  --color-neutral-11: #fff;
  --color-defaut-background: #191765;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-defaut-background);
  color: var(--color-primary-4);
  font-family: Roboto, Arial, sans-serif;
  background-image: url("assets/svg/big_ellipse.svg"), url("assets/svg/small_ellipse.svg");
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: left top, right bottom;
}

/* Hamburger Icon */

.hamburger-icon {
  margin-right: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger-icon span,
.hamburger-icon span::before,
.hamburger-icon span::after {
  display: block;
  background: #fff;
  height: 2.5px;
  width: 1.8em;
  border-radius: 2px;
  position: relative;
}

.hamburger-icon span::before,
.hamburger-icon span::after {
  content: '';
  position: absolute;
}

.hamburger-icon span::before {
  bottom: 9px;
}

.hamburger-icon span::after {
  top: 9px;
}

/* Header */

.portfolio-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 60px;
  margin-left: 24px;
}

.portfolio-header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-neutral-11);
}

/* Main Section */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  gap: 18px;
}

.main-section .name {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--color-primary-2);
}

.main-section .job-title {
  font-size: 32px;
  font-weight: 500;
  margin-top: -1.2em;
  color: var(--color-primary-4);
}

.main-section .description {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  font-style: normal;
  line-height: 28px;
  color: var(--color-neutral-7);
  margin-top: 0.4em;
}

/* Footer */

.technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.2em;
}

.ts-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ts-section .ts-title {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-primary-3);
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  padding-left: 12px;
}

.ts-section .ts-list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-neutral-10);
}

/* Lists */
ul li {
  list-style-type: none;
}

.ts-list ul li {
  margin: 12px;
}

.hr-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icons */

.icons {
  margin: 4em auto 3em auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrow-icon {
  font-size: 30px;
  color: #c4c4c4;
}

/* work-arrow div */

.work-arrow {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 4em;
}

.work-arrow div {
  color: var(--color-neutral-6);
  font-size: 20px;
}

/* recent-work section */

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.recent-work .section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-primary-3);
  margin-bottom: 5px;
}

/* projects-container div */

.projects-container {
  display: grid;
  justify-items: center;
  margin-inline: 30px;
  gap: 3em;
  margin-bottom: 5em;
}

.project .screenshot-container img {
  width: 100%;
  height: auto;
}

.project .project-title {
  font-size: 32px;
  color: var(--color-neutral-11);
  line-height: 44%;
}

.project .project-description {
  font-size: 20px;
  line-height: 28px;
  font-family: 'Inter', sans-serif;
  margin-top: 2em;
  font-weight: 200;
  text-align: left;
}

.project .technologies-used {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Inter', sans-serif;
  margin-top: 2em;
  font-weight: 200;
  gap: 10px;
}

.project .projectDetailsBtn {
  border: none;
  width: 89px;
  height: 48px;
  background-color: var(--color-primary-2);
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--color-primary-4);
  cursor: pointer;
}

.projectDetailsBtn:hover {
  background-color: var(--color-primary-2);
  color: var(--color-neutral-11);
}

.projectDetailsBtn:active {
  background-color: var(--color-primary-1);
}

.projectDetailsBtn:focus {
  background-color: var(--color-primary-1);
}

.projectDetailsBtn:disabled {
  background-color: var(--color-neutral-2);
}
