/* CSS variables */

:root {
  --color-primary-1: #5e42d7;
  --color-primary-2: #7d73fc;
  --color-primary-3: #9490ff;
  --color-primary-4: #edecff;
  --color-neutral-2: #2a2b33;
  --color-neutral-7: #c8c8d4;
  --color-neutral-10: #f5f5ff;
  --color-neutral-11: #fff;
  --color-defaut-background: #191765;
}

/* CSS Reset */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-defaut-background);
  color: var(--color-primary-4);
}

header,
main,
footer {
  display: flex;
}